@model IEnumerable<ContentfulMVC.Models.Posts>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Menu</h4>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Recent Posts</h4>
                <div class="footerPostList">
                    @{ var i = 0;}
                    @foreach (var post in Model)
                    {
                        if (i <= 10)
                        {
                            i++;
                        <p><a href="#">@post.Title</a></p>
                    }

                }
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Social Links & copyright</h4>
                <div id="socialWrapper">
                    <div class="socialContainer">
                        <div id="facebook" class="socialItem">
                            <i class="fa fa-facebook-f fa-3x"></i>
                        </div>
                        <div id="github" class="socialItem">
                            <i class="fa fa-github fa-3x"></i>
                        </div>
                        <div id="youtube" class="socialItem">
                            <i class="fa fa-youtube fa-3x"></i>
                        </div>
                        <div id="twitter" class="socialItem">
                            <i class="fa fa-twitter fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h6 class="footerAuthor">Built & Designed By Cody Moser</p>
            </div>
        </div>
    </div>
</footer>