@model IEnumerable<ContentfulMVC.Models.Posts>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Menu</h4>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Recent Posts</h4>
                <div>posts titles</div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Social Links & copyright</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h6 class="author"> Created By <%= author %></p>
            </div>
        </div>
    </div>
</footer>