
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Who Am I</title>

    <environment include="Production">
        <link rel="stylesheet" href="~/dist/css/main.css" asp-append-version="true" />
    </environment>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120289675-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120289675-1');
    </script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us18.list-manage.com", "uuid": "fc4f50c516f405435a2ff9610", "lid": "2c71b885ac" }) })</script>

</head>
<body>

    @await Component.InvokeAsync("Nav")
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @await Html.PartialAsync("../Shared/_featuredBar.cshtml")
    }
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    <environment include="Development">
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
