

<div class="container-fluid">
    <header>
        <contentful-image asset-id="home" />

        <div class="row featuredBackground" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('@Model.BackgroundImage.File.Url'); background-size: cover; Background-position: center;">
            <div class="headerWrapper {
">
                <div class="row">
                    <div class="col-sm-12 col-md-6 titleCont">
                        <h1>@Model.SiteTitle</h1>
                        <h4 class="subTitle">
                            @Model.SubTitle
                        </h4>



                    </div>
                    <div class="col-sm-12 col-md-6">

                    </div>

                </div>
                <div class="row">
                    <nav id="Nav">
                        <div class="col-sm-6 col-md-6">
                            <p>Created by<a asp-action="Index" asp-controller="About"> @Model.Author.FullName</a></p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <ul class="hidden-xs">
                                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li><a asp-action="Index" asp-controller="About">About</a></li>
                                <li><a asp-action="Index" asp-controller="Posts">Posts</a></li>
                                <!--<li><a asp-action="Index" asp-controller="Destinations">Destinations</a></li>-->
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </header>
</div>
@await Html.PartialAsync("../../_featuredBar.cshtml")