body {
    margin: 0px;
    padding: 0px;

    canvas {
        background: linear-gradient(rgba(0,0,36,0.9),rgba(0,0,36,.1)),url('https://image.freepik.com/free-vector/blue-landscape-with-mountains_23-2147590173.jpg');
        background-size: cover;
        overflow: hidden;
        max-width:100%!important;
    }

    #cTitle {
        position: absolute;
        bottom: 0px;
        left: 50px;
        color: white;
        font-size: 3em;
        z-index: 999;
    }
}
