body {
    margin: 0px;
    padding: 0px;

    canvas {
        background: linear-gradient(rgba(0,0,36,0.9),rgba(0,0,36,.1)),url('https://i.imgur.com/vZHx7YB.jpg');
        background-size: cover;
        overflow: hidden;
        max-width: 100% !important;
    }

    #cTitle {
        position: absolute;
        bottom: 0px;
        left: 50px;
        color: white;
        font-size: 3em;
        z-index: 999;
    }
}
