@import "horizontalGallery.scss";
$primaryColor: white;
$accentColor: #18C596;
$border: solid $accentColor;
$borderRadius: 3px;

html, body {
    height: 100%;

    .grid-item {
        width: 200px;
    }

    .grid-item--width2 {
        width: 400px;
    }
}

body {

    #socialBar {
        background: $primaryColor;
        border-bottom: $border 5px;
    }

    .padding {
        padding: 10px;
    }

    .navSocialLinks {
        list-style-type: none;

        li {
            display: inline;
            margin-right: 2em;
            text-align: right;
            float: right;
        }
    }

    .fixed {
        position: fixed;
        top: 0px;
        left:0px;
        z-index: 10;
        width:100vw;
    }

    .scrollNavCenter {
        h2 {
            margin: 0px;
            color: $accentColor;
            font-weight: bold;
            text-align: center;
            letter-spacing: 4px;
        }
    }

    .scrollNavRight {
        display: block;
    }

    .scrollNavLeft {
        p {
            color: $primaryColor;
        }

        ul {
            list-style-type: none;
            float: left;
            margin: 0px;

            li {
                display: inline;

                &:after {
                    content: "  |  ";
                    color: grey;
                    opacity: .4;
                    font-size: 1.5em;
                }

                a {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin: 0 7px;
                }
            }
        }
    }

    nav {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0 50px;

        p {
            color: $primaryColor;
        }

        ul {
            list-style-type: none;
            float: right;

            li {
                display: inline;
                margin-left: 3em;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }


    a {
        color: $accentColor;

        &:hover {
            color: lighten($accentColor, 10%) !important;
            text-decoration: none !important;
        }

        &:active {
            color: darken($accentColor, 20%);
        }

        &:visited {
            color: adjust-hue($accentColor, 20%);
        }
    }

    #wrapper {
        margin: 25px 0px;
        padding: 0 40px;
    }

    #featuredSection {
        width: 100%;
        background: $accentColor;
        color: $primaryColor;
        padding: 0 50px;

        #pageTitle {
            float: left;
        }

        #pageOptions {
            float: right;
            list-style: none;
            margin: 10px 0px;

            li {
                display: inline;
                margin-left: 2em;
                font-size: 1em;
                font-weight: bold;

                a {
                    color: $primaryColor;

                    &:hover {
                        color: darken($primaryColor, 30%) !important;
                        text-decoration: none !important;
                    }

                    &:active {
                        color: darken($accentColor, 20%);
                    }
                }
            }
        }
    }
    aside{
        float:right;
    }
}

header {
    .padding {
        padding: 10px;
    }
    .titleCont {
        font-size: 8em;
        font-weight: bold;
        color: $primaryColor;

        h1 {
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            margin-bottom: 0;
        }

        h2 {
            margin: 0;
            font-weight: inherit;
            color: inherit;
        }
    }

    .featuredBackground {
        position: relative;
        background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
        background-size: cover;
        height: 80vh;

        .headerWrapper {
            margin: 0px 50px;
            padding-top: 10%;
        }

        img {
            margin: 10px;
            box-shadow: 5px 10px 20px;
            border-radius: $borderRadius;
        }
    }
}

section {
    flex: 1 0 auto;

    div {
        iframe {
            width: 100% !important;
        }

        video {
            width: 100% !important;
        }

        .postFtImg {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
    }
}

footer {
    background: $accentColor;

    .footerAuthor {
        color: white;
        margin-top: 15px;
    }

    h4 {
        color: darken($primaryColor, 100%);
        background: $primaryColor;
        margin: 0 auto;
        padding: 10px;
        width: 60%;
        font-weight: bold;
        text-align: center;
    }

    .author {
        font-weight: bold;
        margin: 0;
        text-align: left;
        color: $primaryColor;
        text-align: center;
    }

    .footerPostList {
        margin:10px auto;
        width:170px;
        p {
            font-weight:bold;
            margin: 0px;
            text-align: center;

            a {
                color: $primaryColor;
                text-align: center;

                &:hover {
                    color: darken($primaryColor,40%)
                }
            }
        }
    }

    #socialWrapper {
        width: 170px;
        height: 200px;
        margin: 10px auto;

        .socialContainer {
            display: flex;
            flex-flow: row wrap;

            .socialItem {
                transition: 1s;
                text-align: center;
                width: 75px;
                background: white;
                margin: 3px;
                padding: 10px;
                border-radius: 20px 3px 20px 3px;

                .fa-facebook-f {
                    color: aqua;
                    transition: 1s;
                }

                .fa-youtube {
                    color: aqua;
                    transition: 1s;
                }

                .fa-github {
                    color: aqua;
                    transition: 1s;
                }

                .fa-twitter {
                    color: aqua;
                    transition: 1s;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: 0.1s;

                    .fa-facebook {
                        color: #3b5998;
                        transition: 0.7s;
                        opacity: .5;
                    }

                    .fa-github {
                        color: #333;
                        transition: 0.7s;
                        opacity: .5;
                    }

                    .fa-youtube {
                        color: #cc181e;
                        transition: 0.7s;
                        opacity: .5;
                    }

                    .fa-twitter {
                        color: #1DA1F2;
                        transition: 0.7s;
                        opacity: .5;
                    }
                }
            }

            #facebook {
                &:hover {
                    background: url("https://biteable.com/content/uploads/2017/09/videogif2.gif");
                    background-position: center;
                    background-size: cover;
                    transition: 1s;
                }
            }

            #youtube {
                &:hover {
                    background: url("https://media.giphy.com/media/xT5P0H87A5mVBkpPJS/giphy.gif");
                    background-position: center;
                    background-size: cover;
                    transition: 1s;
                }
            }

            #github {
                &:hover {
                    background: url("https://78.media.tumblr.com/fa970db4b26969d744c4bfabba341b90/tumblr_oaj26wjQhv1rub4txo10_r1_500.gif");
                    background-position: center;
                    background-size: cover;
                    transition: 1s;
                }
            }

            #twitter {
                &:hover {
                    background: url("https://thumbs.gfycat.com/SparseRemoteCowrie-max-1mb.gif");
                    background-position: center;
                    background-size: cover;
                    transition: 1s;
                }
            }
        }
    }
}







.grid {
    background: white;
    align-content:stretch;
    display: flex;
    flex-flow: column wrap;
}

.item {
    .masonryImage {
        max-width: 200%;
        left: -50%;
        position: absolute;
    }

    overflow: hidden;
    position: relative;
    background: orange;
    color: white;
    text-align: left;
    margin: 10px auto;
    width: 260px;
    border-radius:$borderRadius;

    &:hover {
        .content {
            height: 100%;
            a{
                h2{
                    color:$accentColor !important;
                }
            }
        }

        background-size: contain !important;
    }


    .content {
        transition: .5s;
        overflow: hidden;
        width: 100%;
        height: 40px;

        &:hover {
            height: 100%;
        }

        position: absolute;
        bottom: 0px;
        padding: 1% 3%;
        background: rgba(0,0,0,.55);

        h2, p {
            color: white !important;
            margin: 0px;
        }

        hr {
            margin: 5px;
        }

        .publications {
            width: 100%;
            text-align: left;
            margin-top: 15px;

            p {
                display: inline;
            }

            #Author {
                float: left
            }

            #PublishDate {
                float: right;
            }
        }
    }
}

//Mobile Break Points
//425- Large Phone
@media (max-width:425px){
    body {

        .fixed {
            position: fixed;
            top: 0px;
            left: auto;
            z-index: 10;
        }

        .featuredBackground .headerWrapper {
            margin: 0px 20px;

            #Nav {
                margin: 0px 20px;

                li {
                    margin-left: 1em;
                }
            }
        }

        .scrollNavRight {
        }

        .scrollNavLeft {
            padding-left: 0px;

            ul li a {
                margin: 0px;
                font-size: 1em;
            }
        }

        #featuredSection {
            padding: 0 20px;
        }
    }
}
//768 - Tablet
@media (max-width:768px){
    body {


        .featuredBackground .headerWrapper {
            margin: 0px 20px;

            #Nav {
                margin: 0px 20px;
                li{
                    margin-left:1em;
                }
            }
        }

        .scrollNavLeft {
            padding-left: 0px;

            ul li a {
                margin: 0px;
                font-size: 1em;
            }
        }
        #featuredSection {
            padding:0 20px;
        }
    }
}





.comments {
    margin:0 auto;
}