

<h3>To Do List</h3>
<ol>
    <li>Issue: Font awsome Icons are not showing up. Not pulling in FA fully. Tried the CDN and that worked. </li>
</ol>

<!--<div class="grid">
    <div class="grid-item">
        <h3>Grid Item</h3>
    </div>
    <div class="grid-item grid-item--width3"><h3>Grid Item - Frid-item--Width2</h3></div>
    <div class="grid-item"><h3>Grid Item</h3></div>
    ...
</div>-->

<div class="grid">
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2 grid-item--height2"></div>
    <div class="grid-item grid-item--height3"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item grid-item--width3"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item grid-item--width2 grid-item--height3"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2 grid-item--height2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height3"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
</div>


