

<h3>To Do List</h3>
<ol>
    <li>Add animation to fixed navigation bar</li>
    <li>Add all posts to masonry</li>
    <li>Allow posts to be sorted by featured/date</li>
    <li>Add a posts page</li>
    <li>Add Individual Post page</li>
    <li>Add animation to the Post Icons</li>
</ol>

@await Html.PartialAsync("../Shared/_Posts.cshtml");



