
@await Component.InvokeAsync("Header")
@Html.Partial("Wrapper")
<h3>To Do List</h3>
<ol>
    <li>Social Links</li>
    <li>Menu Component</li>
    <li>Featured Bar--Bread Crumbs and Featured bar component.</li>
    <li>Post by line and date margins</li>
    <li>Design and build about us page</li>
    <li>Make horizontal gallery Responsive--could make it slide</li>
    <li>single post page responsive--remove recent post on mobile</li>
    <li>Add copy writes</li>
    <li>add video to horizontal Media gallery</li>
    <li>style text</li>
    <li>Add animation to fixed navigation bar</li>
    
    <li>Fix the order of the posts so they are viewed from newst to oldest horizontally</li>
    <li>Add functionality to be able to see recent posts and featured Posts(could do this with a toggle or if there is a better way then do that)</li>

</ol>
<h2>Featured Posts</h2>
@await Html.PartialAsync("../Shared/_Posts.cshtml");


