@model IEnumerable<Projects>

<h1 id="widProjects">Published Projects</h1>
<div id="widProDetails" class="row" style="margin:0;">
    @foreach (var project in Model)
    {
        if (project.ShowProject == true)
        {
            <a href="@project.URL">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 project" style="height:500px;padding:0;background:url(@project.ProjectImage.File.Url);background-size:cover;">
                    <div>
                        <h3 style="color:black;">@project.Title</h3>
                        <p style="color:black;">@project.Description</p>
                    </div>
                </div>
            </a>
        }
    }
</div>