


<div class="container-fluid">
        <div id ="socialBar" class="row padding">
            <div class="col-sm-4 col-md-4 scrollNavLeft hidden-xs">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="Index" asp-controller="About">About</a></li>
                    <li><a asp-action="Index" asp-controller="Posts">Posts</a></li>
                    <!--<li><a asp-action="Index" asp-controller="Destinations">Destinations</a></li>-->
                </ul>
            </div>
            <!--Mobile Nav-->
            <div class="col-xs-12 col-sm-4 col-md-4 scrollNavCenter visible-xs">
                <h2><a asp-action="Index" asp-controller="Home">@Model.SiteTitle</a></h2>
            </div>
            <div class="col-sm-4 col-md-4 scrollNavLeft visible-xs" >
                <ul style="text-align:center;padding-left:0px;float:none;">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="Index" asp-controller="About">About</a></li>
                    <li><a asp-action="Index" asp-controller="Posts">Posts</a></li>
                    <!--<li><a asp-action="Index" asp-controller="Destinations">Destinations</a></li>-->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 scrollNavCenter invisible hidden-xs">
                <h2><a asp-action="Index" asp-controller="Home">@Model.SiteTitle</a></h2>
            </div>
            <div class="col-sm-4 col-md-4 scrollNavRight hidden-xs">
                <ul class="navSocialLinks">
                    <li><a href="https://www.facebook.com/cody.moser.73"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCBVEsVZr4AbQjjcnqrM8tEg?view_as=subscriber"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/Moser2010"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/4c247d6e6b904b9"><i class="fa fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
</div>