@model ContentfulMVC.Models.ViewModels.WhoIAm
<div id="container">
    <div id="col1" style="background: url('@Model.Pages.Image2.File.Url');
            background-size: cover;">
        <a asp-action="WhoIAm" asp-controller="About">
            <div class='content1' style="background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('@Model.Pages.FeaturedImage.File.Url')">
                <div id="title1">
                    <h2>Who I Am</h2>
                </div>
            </div>
        </a>
    </div>
    <div id="col2" style="background: url('@Model.Portfolio.FeaturedImage.File.Url');background-size: cover;">
        <a asp-action="WhatIDo" asp-controller="About">
            <div class='content2' style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.imgur.com/vZHx7YB.jpg');">
                <div id="title2">
                    <h2>What I Do</h2>
                </div>
            </div>
        </a>
    </div>
</div>
