@model Author
@Html.Partial("Canvas")
@Html.Partial("Wrapper")
    <div id="widMe"style="background:url('https://d176426ph7tchi.cloudfront.net/photos/SNOWBOARDING/hero/hero-snowboarding-3.jpg');background-size:cover; width:100%;height:80vh;background-attachment: fixed !important;">
        <div class="row">
            <div id="widTitle" class="col-sm-12 col-md-12 col-lg-12">
                <h1>I am a Front end developer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="widContent">
                    <h3>About Me</h3>
                    <p id="contentfulContent">@Model.Bio</p>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="widContent">
                    <h3>What I Do</h3>
                    <p>Paragraph goes here</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="widContent">
                    <h3>Skills</h3>
                    <p>Paragraph goes here</p>
                </div>
            </div>
        </div>
    </div>
<h1 id="widProjects">Published Projects</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right:0;">
            <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0;">
            <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
        </div>
    </div>


