<div id="wiaHeader" style="background:url('http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg');background-size:cover;">

</div>
@Html.Partial("Wrapper")
<li>add in changing background</li>
<li>add in sound bars coming off the main piece.</li>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Title</h1>
        <p>paragraph will go here</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Title</h1>
        <p>paragraph will go here</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Title</h1>
        <p>paragraph will go here</p>
    </div>
</div>