@model Author
<div id="wiaHeader" style="background:url('http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg');background-size:cover;">

</div>
@Html.Partial("Wrapper")
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
        <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>About Me</h1>
        <p class="contentfulContent">@Model.Bio</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>History</h1>
        <p class="contentfulContent">@Model.Backstory</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
        <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
        <img class="hImage" src="http://www.lol-wallpapers.com/wp-content/uploads/2017/07/Talon-Vs-Kayn-by-Anchorite-HD-Wallpaper-Background-Fan-Art-Artwork-League-of-Legends-lol.jpg" />
    </div>
    <div id="wiaHobbies" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Things I Enjoy Doing</h1>
        @foreach(string hobbie in Model.Hobbies)
        {
            int i = 0;
            if (i <= Model.Hobbies.Count / 2)
            {
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul>
                        <li>@hobbie</li>
                    </ul>
                </div>
                i++;
            }
            else
            {
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul>
                        <li>hobbie</li>
                    </ul>
                </div>

            }


        }
    </div>
</div>
<h2>What is left to do on this page</h2>
<ul>
    <li>Add images via the image api</li>
    <li>Style them</li>
    <li>Style the page</li>
    <li>fix markdown for multiple entries</li>
</ul>
