@model Posts

@{
    ViewData["Title"] = "SinglePost";
}


@await  Component.InvokeAsync("Nav")    
@Html.Partial("_TopMain")
<h2>SinglePost</h2>
<div class="row">
   Sliding Image Gallery with hidden overflow
</div>
<div class="row">
    <h1>@Model.Title</h1>
</div>
<div class="row">
    comments section using disqus!
</div>
<aside>
    Other recomended posts.
</aside>