            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Menu</h4>

                            <ul id="footerMenue">
                                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li><a asp-action="Index" asp-controller="About">About</a></li>
                                <li><a asp-action="Index" asp-controller="Posts">Posts</a></li>
                                <!--<li><a asp-action="Index" asp-controller="Destinations">Destinations</a></li>-->
                            </ul>

                
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Recent Posts</h4>
                <div class="footerPostList">
                    @await Component.InvokeAsync("PostList")
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h4>Social Links & copyright</h4>
                <div id="socialWrapper">
                    <div class="socialContainer">
                        <a href="https://www.facebook.com/cody.moser.73">
                            <div id="facebook" class="socialItem">
                                <i class="fa fa-facebook-f fa-3x"></i>
                            </div>
                        </a>
                        <a href="https://github.com/Moser2010">
                            <div id="github" class="socialItem">
                                <i class="fa fa-github fa-3x"></i>
                            </div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCBVEsVZr4AbQjjcnqrM8tEg?view_as=subscriber">
                            <div id="youtube" class="socialItem">
                                <i class="fa fa-youtube fa-3x"></i>
                            </div>
                        </a>
                        <a href="#">
                            <div id="twitter" class="socialItem">
                                <i class="fa fa-twitter fa-3x"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h6 class="footerAuthor">Built & Designed By Cody Moser</p>
            </div>
        </div>
    </div>
</footer>